.editor_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 24px;
  margin-bottom: 1rem;
  .editor_header_content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    h2,
    span {
      font-size: var(--font_size_heading_1);
      font-weight: var(--font_weight_bold);
    }
    span {
      font-weight: var(--font_weight_regular);
    }
  }
  .button {
    flex-shrink: 0;
  }
}

.editor_header_modalContent {
  width: 100%;
  form {
    display: flex;
    align-items: center;
    gap: 1rem;
    .input {
      width: 100%;
    }
    .editor_header_modalContent_buttonBox {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
